* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
}
.container {
  max-width: 1252px;
  width: 100%;
  margin: 0 auto;
}
.header-container {
  align-items: center;
  display: flex;
  margin-top: 43px;
}
.header-container h2 {
  font-size: 20px;
  font-weight: 700;
  line-height: 24.76px;
  margin-right: 292px;
}
.header-container select {
  border: none;
  padding-right: 10px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  line-height: 19.12px;
  margin-left: 25px;
}
.paragref1 {
  font-size: 14px;
  font-weight: 600;
  line-height: 19.12px;
  margin-left: 29px;
  margin-right: 38px;
}
.paragref2 {
  font-size: 14px;
  font-weight: 600;
  line-height: 19.12px;
  margin-right: 236px;
}
.sign {
  font-size: 14px;
  font-weight: 600;
  line-height: 19.12px;
  margin-right: 49px;
}
.free-btn {
  width: 137px;
  height: 52px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  color: #fff;
  background-color: #4f46ba;
}
.main-container {
  margin-top: 131px;
  display: flex;
}
.main-left h1 {
  width: 646px;
  height: 222px;
  top: 211px;
  left: 152px;
  gap: 0px;
  opacity: 0px;
  font-size: 60px;
  font-weight: 800;
  line-height: 74px;
  letter-spacing: -0.03em;
}
.main-left p {
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: -0.02em;
  color: #64607d;
  width: 446px;
  height: 90px;
  margin-top: 19px;
}

.main-right h2 {
  color: #3734a9;
}
.main-right {
  margin-left: 121px;
}
form input {
  width: 356px;
  height: 60px;
  border-radius: 5px;
  margin-top: 24px;
  border: 1px solid #dfe4f1;
  padding-left: 21px;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: -0.02em;
}
form button {
  width: 356px;
  height: 60px;
  top: 464px;
  background-color: #ff7f5c;
  border: none;
  margin-top: 24px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
  text-align: center;
  color: #fff;
}
.main-flex {
  display: flex;
}
.main-flex p {
  font-size: 17px;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: -0.02em;
  color: #3734a9;
  margin-top: 64px;
  margin-left: 11px;
  cursor: pointer;
}
.main-flex button {
  width: 162px;
  height: 60px;
  border-radius: 47px;
  background-color: #3734a9;
  color: #fff;
  border: none;
  margin-top: 47px;
  cursor: pointer;
}

.logo_top-p {
  text-align: center;
  margin-top: 118px;
  margin-bottom: 36px;
  font-size: 22px;
  font-weight: 700;
  line-height: 30.05px;
}
.logo-flex {
  display: flex;
  align-items: center;
  gap: 50px;
}
.logo-flex :nth-child(1) {
  margin-left: 118px;
}

.logo-container h2 {
  margin-top: 112px;
  text-align: center;
  margin-bottom: 13px;
  font-size: 42px;
  font-weight: 800;
  line-height: 60px;
  letter-spacing: -0.03em;
}
.logo-container h3 {
  width: 604px;
  height: 60px;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: -0.02em;
  color: #64607d;
  margin-left: 300px;
  margin-bottom: 25px;
}
.logo-container button {
  color: #fff;
  border: none;
  border-radius: 10px;
  width: 549px;
  height: 48px;
  background-color: #3734a9;
  margin-left: 320px;
  cursor: pointer;
  font-size: 17px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: -0.02em;
  margin-bottom: 56px;
}
.position {
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}
select {
  background-color: transparent;
}
img {
  cursor: pointer;
}
.card-h {
  font-size: 16px;
  font-weight: 800;
  line-height: 30px;
  letter-spacing: -0.03em;
  margin-top: 24px;
  margin-bottom: 1px;
}
.logo-cards {
  display: flex;
  align-items: center;
  color: #000;
  gap: 85px;
}
.logo-card1 {
  margin-left: 47px;
}
.card-p {
  width: 279px;
  /* height: 96px; */
  color: #757095;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.02em;
}

.plyer {
  margin-top: 47px;
  margin-left: 50px;
}

.chek-flex {
  display: flex;
  align-items: center;
  gap: 160px;
  margin-top: 114px;
}
.chek-flex p {
  margin-left: 117px;
  font-size: 36px;
  font-weight: 800;
  line-height: 56px;
  letter-spacing: -0.03em;
  width: 561px;
  height: 112px;
}
.chek-flex button {
  width: 181px;
  height: 60px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  color: #fff;
  background-color: #4f46ba;
}
